<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224278851366-pdeefb7c5qrb7r54gbabm32itd5pk508.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224278851366-pdeefb7c5qrb7r54gbabm32itd5pk508</string>
	<key>API_KEY</key>
	<string>AIzaSyCaqvRtqfkvqBz1h-JnXwcDcuKzctE3zLE</string>
	<key>GCM_SENDER_ID</key>
	<string>224278851366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kangbba.practiceinsta</string>
	<key>PROJECT_ID</key>
	<string>practice-instagram-c24fb</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-instagram-c24fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224278851366:ios:4893d2c2bd7af3a2349be7</string>
</dict>
</plist>